---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp" style="color: #000000;">
            <b>Icarus Digital Math</b><br>
            <small><b>Simulations you can actually trust</b></small>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>

<p>
DigiMat - Digital Math represents digitalization of mathematics, society, industry and society in the form of automated and easily understandable computation of mathematical models in the Open Source FEniCS framework with world-leading performance and recognized at the highest level of science and industry together with an effective pedagogical concept with combined abstract theory and mathematical interactive programming in a cloud-HPC web-interface.

<p>
With our computational framework you can predict and understand the grand challenges of science and technology.

<p>
We are the Red Hat of computational modeling - our Open Source technology transforms the engineering simulation market just like Linux did, and generate enormous econmic value (Open Source Red Hat sold to IBM for 33 billion USD, second largest tech acquisition in history).

<p>
Icarus Simulation offers services in:

<ul>
  <li>advanced computational simulation: unique adaptive finite element technology</li>
  <li>digital courses on mathematics and simulation technology</li>
</ul>
            
          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/hiliftpw3-stall-q.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Aerodynamics breakthrough</h2>
      
<p>
Icarus supported by the Swedish Innovation Agency Vinnova and KTH Innovation are now leading a joint team with world-leading partners to bring the technology to the aerodynamics industry which has the potential to revolutionize computational prediction and efficiency.

<p>
Our breakthrough adaptive Direct FEM technology gives fast and reliable prediction of turbulent separated flows for a full vehicle, identified as the main CFD challenge today [NASA Vision 2030, Jameson] with the following features:

<ol>
  <li>No explicit turbulence model</li>
  <li>No wall model: slip = small friction</li>
  <li>No parameters to fit</li>
  <li>First principles - solve purely conservation of momentum + incompressibility</li>
  <li>Direct stabilized FEM simulation, automated in Unicorn/FEniCS</li>
  <li>No manual mesh design - goal-oriented adaptive error control</li>
  <li>High performance - 10x faster and cheaper than Exa/RANS in HiLiftPW-3</li>
  <li>Compatible with current CFD workflow - plug-in replacement for CFD solver</li>
  <li>Fast and reliable prediction of turbulent separated flows for a full vehicle, identified as the main CFD challenge today [NASA Vision 2030, Jameson]</li>
  <li>Extensively validated and compared against world-leading competition at HiLiftPW (NASA/Boeing) and highest level of commercial CFD.</li>
  <li>Scientific method - Open Source - reproducible and falsifiable</li>
</ol>
  
<p>The flow simulator by Jansson opens the possibility of predicting the performance of new designs with the best possible simulation at given cost.

    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <!-- <i class="ion-airplane"></i> -->
          <ion-icon name="airplane"></ion-icon>
          <h4>Aerodynamics simulation</h4>
          <p>We carry out predictive simulation for you.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <!-- <i class="ion-cloud"></i> -->
          <ion-icon name="cloud"></ion-icon>
          <h4>Digital Math Cloud Supercomputing with support</h4>
          <p>You can run predictive Digital Math simulations in our Amazon AWS "elastic supercomputer" cloud.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <!-- <i class="ion-calculator"></i> -->
          <ion-icon name="calculator"></ion-icon>
          <h4>Software package with support</h4>
          <p>You can run our Digital Math simulations on your own cluster.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <!-- <i class="ion-school"></i> -->
          <ion-icon name="school"></ion-icon>
          <h4>Digital Math courses</h4>
          <p>Take our online Digital Math courses to get started with predictive simulation and learn Digital Math!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our partners</h2>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
          <img src="img/formulaone01.svg">
            <h4>Leading Formula 1 team</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
          <img src="img/aircraft01.svg">
            <h4>Leading Aircraft company</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
          <img src="img/aircraft01.svg">
            <h4>Leading Airline</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Predict aerodynamic designs with our breakthrough</h2>
          <p>Read more about our breakthrough predictive technology, take our courses, and meet our highly merited Team who are passionate about Digital Math.</p>
          <a class="btn btn-default btn-call-to-action" href="mailto:jjan@kth.se" >jjan@kth.se</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->

<section id="news">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>News</h2>

{% for post in site.posts %}
<div class="post">
  <!-- Wrapper Start -->
<!--  <section id="intro" style="border: 1px dotted #ddd;"> -->
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h4><a href="{{ post.url | prepend: site.baseurl }}" class="bold" style="color: black;">{{ post.title }}</a></h4>
            <div class="post-info-wrapper">
              <p class="italic"><span class="bold">{{ post.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ post.content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
<!--  </section> -->
</div>
{% endfor %}
        
      </div>
    </div>
  </div>
</section>


